<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/home.css"/> 
  </head>
  <body>
    <%- include("../partials/header"); %>
    <main class="main__home">
      <h1 class="h1__funcionario">Funcionários</h1>
      <table class="tabela__funcionario" border="1">
        <thead>
        <tr>
            <th>Matrícula</th>
            <th>Funcionário</th>
            <th>Função</th>
            <th>Setor</th>
            <th>CPF</th>
            <th>Carga Horaria Semanal</th>
            <th>Última Entrada</th>
            <th>Última Saída</th>
            <th>Editar</th>
            <th>Ativo</th>
        </tr>
        </thead>
        <tbody>
          <td>000000</td>
          <td>Gabriel</td>
          <td>Programador</td>
          <td>01</td>
          <td>000.000.000-83</td>
          <td>50h</td>
          <td>14/02/2023 08:00h</td>
          <td>14/02/2023 18:00h</td>
          <td><a href="#">Alterar</a></td>
          <td>Ativo</td> 
          <% for(funcionario of funcionarios) {%> 
            <tr>  
         
            <td><%= funcionario.matricula %></td>
            <td><%= funcionario.nome.replace(/(^\w{1})|(\s+\w{1})/g, letter => letter.toUpperCase()) %></td>
            <td><%= funcionario.funcao.replace(/(^\w{1})|(\s+\w{1})/g, letter => letter.toUpperCase()) %></td>
            <td><%= funcionario.setor.replace(/(^\w{1})|(\s+\w{1})/g, letter => letter.toUpperCase()) %></td>
            <td><%= funcionario.cpf %></td>
            <td><%= funcionario.cargahorariasemanal %>h</td>
            <td>aaa</td>
            <td>aa</td>
            <td><a href="/admin/alterarfuncionario/<%= funcionario.matricula %>">Alterar</a></td>
            <td><%= funcionario.ativo===true ? "Ativo" : "Desativado" %></td>     
           
        </tr>
        <% } %>  %>
        </tbody>
     </table>
    </main>
    <script src="./js/main.js"></script>
  </body>
</html>
