<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/home.css"/> 
  </head>
  <body>
    <%- include("../partials/header"); %>
    <main class="main__home">
      <div class="main__home__div">
        <h1 class="h1__funcionario">Gerar relat贸rio</h1>
        <form action="/admin/gerarRelatorio" method="post" class="forms">
          <input type="submit" class="forms-input" value="Gerar novo relat贸rio">
        </form>
      </div>
      <h1 class="h1__funcionario">Relat贸rios</h1>
      <table class="tabela__funcionario" border="1">
        <thead>
        <tr>
            <th>Data do relat贸rio</th>
            <th>Arquivo</th>
            <th>Deletar</th>
        </tr>
        </thead>
        <tbody>
          <% for(relatorio of relatorios) { %> 
            <tr>           
              <td><%= relatorio.dataCriacao %></td>
              <td><a href="/admin/baixar-relatorio?codigo=<%= relatorio.id %>&tipo=baixar"><%= relatorio.arquivo %> </a></td>
              <td><a href="/admin/baixar-relatorio?codigo=<%= relatorio.id %>&tipo=deletar">Deletar</a></td>   
          </tr>
          <% } %>  %>
        </tbody>
     </table>
    </main>
  </body>
</html>
