<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/cadastrar-funcionario.css"> 
    <link rel="icon" type="image/x-icon" href="/assets/logo-branca.png">
  </head>
  <body>
    <%- include("../partials/header"); %>
    <main class="main__home">
      <%if(erros.length > 0){ %>
        <div class="alert danger">       
          <p><b><% for(erro of erros) {%> <%= erro.error %> <% } %></b></p>       
        </div>
        <%} %>
      <div class="main__home__div">
      <h1 class="h1__funcionario">Alterar admin</h1>
      <form action="/admin/alteracaoDados" method="post" class="forms">
        <input type="hidden" id="idAtual" name="idAtual" value="<%= user.id %>">
        <label for="idAtual">Id</label>
        <input type="text" class="forms-input" name="id" id="id" value="<%= user.id %>" placeholder="Deixe em branco para gerar automaticamente">
        <label for="email">Email</label>
        <input type="email" class="forms-input" name="email" id="email" value="<%= user.email %>" placeholder="Email">
        <label for="senha">Senha</label>
        <input type="password"class="forms-input" name="senha" id="senha" placeholder="Senha(Ele poderá alterar depois)">
       
        <br>
        <input type="submit" class="forms-input" value="Alterar dados">
      </form>
    </div>
    </main>
    <script src="/js/main.js"></script>
  </body>
</html>
