<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css"> 
    <link rel="icon" type="image/x-icon" href="/assets/logo-branca.png">
  </head>
  <body>
    <%- include("../partials/header"); %>
    <main class="main__home">
      <div class="main__home__div">
        <h1 class="h1__relatorio">Gerar relatório</h1>
        <div class="gerar__relatorio">
          <div>
          <form action="/admin/gerarRelatorio" method="post" class="forms">
            <input type="submit" class="forms-input" value="Gerar novo relatório">
          </form>
        </div>
        <p>Ou</p>
        <div>
          <form action="/admin/gerarRelatorio" method="post" class="forms">
            <label for="data">Gerar a partir de determinada data:</label><br>
            <input type="date" name="data" id="data" required>
            <input type="submit" class="forms-input" value="Gerar novo relatório">
          </form>
        </div>
      </div>
      <h1 class="h1__relatorio">Relatórios</h1>
      <table class="tabela__relatorios" border="1">
        <thead>
        <tr>
            <th>Data do relatório</th>
            <th>Arquivo</th>
            <th>Deletar</th>
        </tr>
        </thead>
        <tbody>
          <% for(relatorio of relatorios) { %> 
            <tr>           
              <td><%= relatorio.dataCriacao %></td>
              <td><a href="/admin/baixar-relatorio?codigo=<%= relatorio.id %>&tipo=baixar"><%= relatorio.arquivo %> </a></td>
              <td><a href="/admin/baixar-relatorio?codigo=<%= relatorio.id %>&tipo=deletar">Deletar</a></td>   
          </tr>
          <% } %>  %>          
        </tbody>
     </table>
    </main>
  </body>
</html>
